<!-- doctorDashboard.html -->
 <!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <!-- meta tags -->
        <meta charset="UTF-8">
        <meta name="robots" content="no-follow">
        <title>Doctor Dashboard</title>

        <!-- icon -->
        <link rel="icon" type="image/png" th:href="@{/assets/images/logo/logo.png}" />

        <!-- stylesheets -->
        <link rel="stylesheet" th:href="@{/assets/css/adminDashboard.css}">
        <link rel="stylesheet" th:href="@{/assets/css/doctorDashboard.css}">
        <link rel="stylesheet" th:href="@{/assets/css/style.css}">

        <!-- scripts -->
        <script th:src="@{/js/render.js}" defer></script>
        <script th:src="@{/js/util.js}" defer></script>
        <script th:src="@{/js/components/header.js}" defer></script>
        <script th:src="@{/js/components/footer.js}" defer></script>
        <script type="module" th:src="@{/js/components/patientRows.js}" defer></script>
        <script type="module" th:src="@{/js/services/patientServices.js}" defer></script>
        <script type="module" th:src="@{/js/doctorDashboard.js}" defer></script>
    </head>

    <body onload="renderContent()">
        <!-- container-->
        <div class="container">
            <!-- wrapper -->
            <div class="wrapper">
                <!-- header -->
                <div id="header"></div>

                <!-- main content -->
                <div class="main-content">
                    <input type="text" id="searchBar" placeholder="Search for custom output" />
                    <div class="filter">
                        <button class="today-btn" id="todayButton">Today's Appointments</button>
                        <input type="date" name="" id="datePicker" class="date-picker" />
                    </div>
                    <!-- patient table -->
                    <table id="patientTable">
                        <thead class="table-header">
                            <tr>
                                <th>Patient ID</th>
                                <th>Name</th>
                                <th>Phone No.</th>
                                <th>Email</th>
                                <th>Prescription</th>
                            </tr>
                        </thead>
                        <!-- table body -->
                        <tbody id="patientTableBody"></tbody>
                    </table>
                </div>

                <!-- footer -->
                <div id="footer"></div>
            </div>
        </div>

    </body>
 </html>