/* Admin Dashboard CSS */

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

/* Wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Section Heading */
h2, h3 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 50px;
  color: #003e3e;
}

h3 {
  text-align: center;
}

/* Main Content */
.main-content {
  flex-grow: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("../images/defineRole/index.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Buttons */
button {
  background-color: #a62b1f;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  margin-top: 20px;
  width: 200px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #a62b1f;
}

.adminBtn {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
  width: 110px;
  padding: 10px 0;
  border: none;
  cursor: pointer;
}

.adminBtn:hover {
  background-color: #a62b1f;
  color: white;
}

.report-btn {
  margin-right: 10px;
  padding: 10px;
  background-color: #015c5d
}

/* Table */
.table-header {
  font-size: 24px;
  color: #015c5d;
  margin-bottom: 30px;
  margin-right: 0px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
  margin-top: 20px;
}

thead {
  background-color: #33333310;
  color: white;
}

td, th {
  padding: 12px 16px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even){
  background-color: #f9f9f959;
}

tbody tr:nth-child(odd) {
  background-color: #ffffffc0;
}

tbody tr:hover {
  background-color: #015c5d39;
}