/* Doctor Dashboard */

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

/* Wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Main Content */
.main-content {
  flex-grow: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("../images/defineRole/index.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Buttons */
.today-btn {
  margin-right: 10px;
  padding: 10px;
  background-color: #015c5d
}

.date-picker {
  margin-left: 10px;
  border-radius: 8px;
  padding: 10px;
  height: 30px;
}

.prescription-btn {
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: transform 0.2s ease, filter 0.2s ease;
}

.prescription-btn:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.prescription-btn:active {
  transform: scale(0.95);
}

/* Message if no records exist */
.noPatientRecord {
  font-size: 16px;
  color: grey;
  font-style: italic;
}

/* Table */
.table-header {
  font-size: 24px;
  color: #015c5d;
  margin-bottom: 30px;
  margin-right: 0px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
  margin-top: 20px;
}

thead {
  background-color: #33333310;
  color: white;
}

td, th {
  padding: 12px 16px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even){
  background-color: #f9f9f959;
}

tbody tr:nth-child(odd) {
  background-color: #ffffffc0;
}

tbody tr:hover {
  background-color: #015c5d39;
}