/* Index CSS Stylesheet */

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base HTML & Body */
html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
  background-image: url('../images/defineRole/index.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header and Footer */
#header, #footer {
  width: 100%;
}

/* Main section */

.main-content{
  flex-grow: 1;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/* Heading (h2) */
h2 {
  font-size: 48px;
  margin-bottom: 50px;
  color: #003e3e;
  font-weight: bold;
  font-family: 'Alegreya', 'Roboto', sans-serif;
}

/* Buttons */
button {
  background-color: #015c5d;
  color: white;
  border: none; 
  border-radius: 12px; 
  padding: 10px 20px;
  width: 200px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
}

button:hover{
  background-color: red;
}

/* Role selection buttons */
.dashboard-btn:hover {
  background-color: #003e3e;
}

/* Modal Styles */
.modal {
  visibility: hidden;
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-body {
  position: absolute;
  top: 50px;
  right: 30px;
  background-color: white;
  padding: 20px;
  border: none;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  position: relative;
  box-shadow: 0 4px, 10px, rgba(0, 0, 0, 0.2);
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.close:hover {
  color: red;
  cursor: pointer;
}